* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.hidden {
  display: none;
}

.navigation {
  background-color: #d35649;
  display: flex;
  justify-content: space-between;
  padding: 25px 15px;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

.company-logo {
  color: #fff;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.company-logo h1 {
  margin-left: 10px;
}

.navigation-links ul li {
  display: inline-block;
}

.navigation-links ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  margin: 0 20px 0 0;
}

.top-most-section {
  background-image: url("../assets/page-image.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  height: 32em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.central-section {
  margin: auto;
}

.main-page-header {
  text-align: center;
  font-size: 25px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: bolder;
  padding-bottom: 20px;
}

.section-section {
  background-color: #babbc3;
  width: 45%;
  margin: auto;
  padding: 30px;
  border-radius: 5px;
}

.section-section header {
  text-transform: uppercase;
  color: #333;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}

.search-input-section {
  display: flex;
}

.search-input-section input {
  flex: 2;
  border: none;
  height: 3em;
}

.search-input-section button {
  flex: 1;
  border: none;
  background-color: #d35649;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  text-transform: capitalize;
}

.app-description {
  border: none;
  background-color: #babbc3;
  width: 8em;
  display: block;
  margin: auto;
  margin-top: 10px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 18px;
  padding: 15px 15px;
  color: #222;
}

.operation-steps .general-heading {
  text-align: center;
}

.operation-steps .general-heading h2 {
  color: #d35649;
  font-family: 'Quicksand', sans-serif;
  font-size: 35px;
  margin-top: 20px;
}

.operation-step-grid {
  display: grid;
  grid-template-columns: auto auto;
  padding: 5em 10%;
  grid-column-gap: 10em;
  grid-row-gap: 2em;
}

.operation-step-item {
  display: flex;
  flex-direction: column;
}

.operation-step-item .image-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-details {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
}

.section-details h5 {
  display: block;
  margin: auto;
  padding: 10px 0;
  text-transform: uppercase;
  font-weight: bolder;
}

.operation-step-item img {
  width: 60px;
  height: 60px;
}

.registration-section,
.registration-section-middle,
.registration-section-bottom {
  background-color: #e17e66;
  padding: 20px 3em;
}

.registration-section-middle {
  background-color: #99a5a6;
}

.registration-section-bottom {
  background-color: #519cd7;
}

.registration {
  display: flex;
}

.registration-details {
  width: 50%;
  font-family: 'Quicksand', sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.registration-details-heading {
  font-size: 20px;
  font-weight: bold;
}

.registration-details-text {
  margin: 10px 0;
}

.registration-details button {
  border: none;
  font-size: 16px;
  padding: 10px;
  width: 150px;
  border-radius: 3px;
}

.registration-images {
  margin-left: auto;
}

.registration-images img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.registration-images-phone-image img {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.page-footer {
  background-color: #000;
  padding-top: 45px;
  font-family: 'Quicksand', sans-serif;
}

.links-section {
  display: flex;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  margin: 0 20px 0;
  background-color: #000;
}

.added-footer-section-item {
  flex: 1;
  margin-left: 1px;
  padding: 8px 0;
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}

.added-footer-section-item:hover {
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

.added-footer-section {
  display: flex;
  flex: 4;
}

.home-section-logo {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
}

.bottom-logo {
  position: absolute;
  width: 110px;
  height: 110px;
  top: 0;
  border-radius: 50%;
  margin-top: -40px;
  border: 1px solid #fff;
  background-color: #000;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-middle-section {
  margin: 30px 20px 0;
  display: flex;
  background-color: #000;
}

.page-social-media-links {
  padding: 20px;
  margin-top: 10px;
  display: flex;
  background-color: #1f1f1f;
  color: #999;
}

.page-social-media-links i {
  margin-left: 4px;
}

.page-social-media-links .social-media {
  flex: 1;
}

.page-social-media-links .copy-right {
  flex: 1;
  display: flex;
  align-items: center;
  font-size: 13px;
}

.page-social-media-links .rights-reserved {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.footer-subscription,
.footer-contact,
.footer-about {
  flex: 1;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer-about-heading,
.footer-contact-heading,
.footer-subscription-heading {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
}

.footer-contact-heading-details {
  font-size: 14px;
  color: #aaa;
}

.page-color-section {
  color: #d35649;
  text-decoration: none;
  cursor: pointer;
}

.footer-subscription-search {
  display: flex;
  width: 100%;
  justify-content: center;
}

.footer-subscription-search input {
  height: 3em;
  width: 75%;
  background-color: #000;
  border: 1px solid #fff;
  outline: none;
  padding: 5px;
  color: #777;
}

.footer-subscription-search button {
  background-color: #444;
  padding: 0 15px;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  .navigation-links span {
    display: none;
  }

  .operation-step-grid {
    display: flex;
    flex-direction: column;
  }

  .operation-step-item {
    flex-direction: row;
    flex: 1;
    margin-bottom: 40px;
  }

  .image-section {
    flex: 1;
  }

  .section-details {
    flex: 7;
  }

  .added-footer-section {
    display: grid;
    grid-template-columns: auto auto;
  }

  .added-footer-section-item {
    margin-top: 5px;
  }
}

@media only screen and (max-width: 768px) {
  .navigation,
  .search-input-section {
    flex-direction: column;
    justify-content: center;
  }

  .section-section {
    width: 90%;
  }

  .search-input-section {
    height: 5em;
  }

  .search-input-section input,
  .search-input-section button {
    flex: 2;
  }

  .navigation-links,
  .search-input-section button {
    margin-top: 10px;
  }

  .operation-step-item {
    flex-direction: column;
  }

  .registration {
    flex-direction: column;
  }

  .registration-details {
    order: 2;
    width: 100%;
    text-align: center;
  }

  .registration-details button {
    margin: 10px auto;
  }

  .registration-images {
    order: 1;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .added-footer-section {
    display: flex;
    flex-direction: column;
  }

  .footer-middle-section {
    flex-direction: column;
  }

  .footer-contact,
  .footer-about {
    margin-top: 10px;
  }

  .page-social-media-links {
    flex-direction: column;
  }

  .page-social-media-links .social-media {
    display: flex;
    justify-content: center;
  }

  .page-social-media-links .copy-right,
  .page-social-media-links .rights-reserved {
    margin-top: 10px;
    justify-content: center;
  }
}
